.hero {
    background: #eeeff3;
    overflow-x: hidden;
}

.hero__container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 320px;
    .hero__picture {
        position: absolute;
        top: 0;
        right: 0;
        @media (max-width: 1059.98px) {
            right: -160px;
        }
        @media (max-width: 459.98px) {
            display: none;
        }
    }
    @media (max-width: 1365.98px) {
        background-position: 160% 0;
    }
    @media (max-width: 767.98px) {
        background-position: center;
        padding-bottom: 200px;
    }
}

.hero__content {
    max-width: 400px;
    width: 100%;
    z-index: 1;
    position: relative;
}

.hero__buttons {
    display: flex;
    button {
        height: 60px;
        line-height: 60px;
        font-weight: 700;
        color: #0b132a;
        padding: 0 65px;
        border-radius: 10px;
        border: 1px solid #0b132a;
        background-color: transparent;
        &:first-child {
            margin-right: 20px;
        }
        &.active {
            color: #fff;
            background: $color-orange;
            padding: 0 35px;
            border: 1px solid $color-orange;
            @media (max-width: 459.98px) {
                padding: 0 20px;
            }
        }
        @media (max-width: 459.98px) {
            padding: 0 20px;
        }
    }
}

.hero__title {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
    color: $color-black;
    & + img {
        @media (max-width: 459.98px) {
            display: block;
        }
    }
    @media (max-width: 459.98px) {
        font-size: 40px;
    }
}

.hero__subtitle {
    margin-bottom: 20px;
}
