.item {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    background: #fff;
    box-shadow: 0px 20px 40px rgba(206, 206, 206, 0.25);
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    cursor: pointer;
    &.active {
        max-width: 442px;
        flex: 1 0 auto;
        margin-top: -40px;
        margin-bottom: -40px;
        z-index: 1;
        padding: 88px 60px;
        .item__get {
            button {
                background: $color-orange;
                color: #fff;
                border: none;
            }
        }
        .item__head,
        .item__list,
        .item__income,
        .item__get,
        .item__note {
            padding: 0 40px;
            @media (max-width: 459.98px) {
                padding: 0;
            }
        }
        @media (max-width: 1365.98px) {
            padding: 40px 20px;
            margin-top: 0;
            margin-bottom: 20px;
            max-width: 100%;
            order: 0;
        }
    }
    &:last-child {
        @media (max-width: 767.98px) {
            margin-bottom: 0;
        }
    }
    @media (max-width: 1365.98px) {
        margin-bottom: 20px;
    }
    @media (max-width: 767.98px) {
        // margin-bottom: 20px;
        width: 100%;
        order: 1;
    }
}

.item__title {
    font-size: 16px;
    color: $color-black;
    margin-bottom: 14px;
    span {
        font-size: 24px;
        margin-left: 5px;
    }
}

.item__head {
    display: flex;
    flex-direction: column;
    padding: 0 60px;
    @media (max-width: 767.98px) {
        padding: 0 10px;
    }
}

.item__price {
    font-size: 56px;
    font-weight: 700;
    color: $color-black;
    padding-bottom: 10px;
    margin-bottom: 50px;
    width: 100%;
    border-bottom: 1px solid #ededed;
}

.item__list {
    padding: 0 60px;
    li {
        color: #8e8e8e;
        padding-bottom: 10px;
        position: relative;
        padding-left: 40px;
        margin-bottom: 10px;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 20px;
            height: 20px;
            background-image: url("../images/current.svg");
            background-size: cover;
        }
        &:last-child {
            padding-bottom: 30px;
            margin-bottom: 45px;
            border-bottom: 1px solid #ededed;
        }
        @media (max-width: 767.98px) {
            width: calc(100% / 2);
            padding-right: 10px;
        }
        @media (max-width: 459.98px) {
            width: 100%;
            padding-right: 0;
        }
    }
    @media (max-width: 767.98px) {
        display: flex;
        flex-wrap: wrap;
        padding: 0 10px;
        margin-right: -10px;
    }
}

.item__income {
    padding: 0 60px;
    ul {
        margin-bottom: 40px;
        li {
            font-size: 14px;
            &.current {
                color: #0b132a;
                font-weight: 700;
                margin-bottom: 10px;
            }
        }
    }
    @media (max-width: 767.98px) {
        padding: 0 10px;
        align-self: center;
    }
}

.item__get {
    margin-bottom: 24px;
    padding: 0 60px;
    button {
        border: 1px solid #0b132a;
        color: #0b132a;
        height: 60px;
        line-height: 60px;
        background: transparent;
        border-radius: 10px;
        padding: 0 50px;
        width: 100%;
    }
    @media (max-width: 767.98px) {
        padding: 0 10px;
        align-self: center;
    }
}

.item__note {
    padding: 0 60px;
    @media (max-width: 767.98px) {
        padding: 0 10px;
    }
}
