.video {
    margin-bottom: 120px;
    @media (max-width: 1365.98px) {
        margin-bottom: 60px;
    }
    @media (max-width: 767.98px) {
        margin-bottom: 40px;
    }
}

.video__container {
    margin-top: -150px;
    // height: 657px;
    video {
        width: 100%;
    }
    @media (max-width: 459.98px) {
        // height: 300px;
        padding: 0;
    }
}